# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
seq
utilities/gen
utilities/reader

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Temporary files
testcases/temp.*

seq
gpu
gpu_dbg
knapsack_gpu
tmp.txt
